*, *::after, *::after{
    margin: 0;
    padding: 0;
}

body{
    
}

h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
}

p, span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.personalCV-content{
    min-height: 80vh;
}

.personalCV-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a96c7;
    padding: 0.65em 0;
    max-height: 175px;
}

.personalCV-header img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    object-fit: cover;
}

.personalCV-content{
    display: flex;
}

.personalCV-sidebarSection{
   width: 25vw;
   padding: 1em;
}

.personalCV-bodySection{
    width: 75vw;
    background-color: #fff;
    padding: 2.5em;
}

.personalCV-sidebarSection{
    color: #eee;
    background-color: #343752;
}

.jobExperience-title{
    display: flex;
    align-items: center;
}

.jobExperience-title h2{
    order: 1;
    margin-left: 1rem;
}

.job-box{
    margin: 1rem 0;
    padding: 1em 0;
    border-bottom: 2px solid;
}

.job-box p{
    margin: 0.85em 0;
}

.job-box span{
    font-weight: 700;
}

.sidebar-skills h2{
    margin: 1rem;
}

.sidebar-skills ul{
    list-style: none;
}

.sidebar-skills li{
    display: flex;
    align-items: center;
}

.sidebar-skills li span{
    margin: 1rem;
}